config

scripts

node_modules

dist

eslint.config.js

.eslintrc.js

.vscode

.vscode-test

coverage

.nyc_output

.cache

.eslintcache

.prettierrc.js

.prettierignore

.stylelintrc.js

.stylelintignore

.gitignore

.npmignore

.npmrc

.browserslistrc